html {
                width:100%;
                font-family:"HelveticaNeue";
                font-size: 1.1em;
                background-image:url('backhtml.png');
            }
            .component {
                background-color:#F4F3FA;
                width:85%;
                border: 3px solid #776BCF;
                padding:0px;
                margin:25px auto;
                border-radius:25px;
                overflow: hidden;
            }
            
            div.component p {
                border-left: 2px solid #CAC4F3;
                width:65%;
                margin:0;
                padding:0 0 0 3px;
                float:left;
            }
            
            .innerComponent {
                margin:15px;
            }
            
            .floatL {
            background-color:#FFF;
                background-size: 100% auto;
        background-position:center center;
        background-repeat:no-repeat;
                width:150px;
                height:150px;
                border: solid 1px black;
                border-radius:5px;
                margin-right:15px;
                padding:0px;
                float:left;
            }
            
            .floatR {
                        background-color:#FFF;

                background-size: 100% auto;
                
        background-position:center center;
                background-repeat:no-repeat;

    width:150px;
                height:150px;
                border: solid 1px black;
                border-radius:5px;
                margin-left:15px;
                padding:0px;
                float:right;
            }
            
            .clear {
                clear:both;
            }
            
            
            @font-face {
                font-family: 'league_gothicregular';
                src: url('leaguegothic-regular-webfont.eot');
                src: url('leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
                url('leaguegothic-regular-webfont.woff') format('woff'),
                url('leaguegothic-regular-webfont.ttf') format('truetype'),
                url('leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
                font-weight: normal;
                font-style: normal;
                
            }
            
            
            h1 {
                width:100%;
                background-color:#bdbdbd;
                text-shadow: 0px 1px 1px #4d4d4d;
                color: #222;
                font: 35px 'league_gothicregular';
                font-weight:550;
                padding:0px;
                margin:0px;
                margin-bottom:5px;
                text-align:center;
            }
            